In [1]:
import numpy as np
import pandas as pd

In [2]:
names = pd.Series(['andrew', 'bobo', 'claire', 'david','5'])

In [3]:
names

0    andrew
1      bobo
2    claire
3     david
4         5
dtype: object

In [4]:
names.str.upper()

0    ANDREW
1      BOBO
2    CLAIRE
3     DAVID
4         5
dtype: object

In [5]:
names.str.isdigit()

0    False
1    False
2    False
3    False
4     True
dtype: bool

In [6]:
names[names.str.isdigit()]

4    5
dtype: object

In [7]:
tech_finance = ['GOOG, APPL,AMZN', 'JPM, BAC, GS']

In [8]:
len(tech_finance)

2

In [9]:
tickers = pd.Series(tech_finance)

In [10]:
tickers

0    GOOG, APPL,AMZN
1       JPM, BAC, GS
dtype: object

In [15]:
tickers.str.split(',',expand = True)

      0      1     2
0  GOOG   APPL  AMZN
1   JPM    BAC    GS

In [14]:
tickers.str.split(",").str[0]

0    GOOG
1     JPM
dtype: object

In [16]:
messy_names = pd.Series(['andrew   ','bo;bo', '   claire'])

In [17]:
messy_names

0    andrew
1        bo;bo
2       claire
dtype: object

In [21]:
messy_names.str.replace(';','').str.strip().str.upper()

0    ANDREW
1      BOBO
2    CLAIRE
dtype: object

In [22]:
messy_names

0    andrew
1        bo;bo
2       claire
dtype: object

In [23]:
def cleanup(name):
    name = name.replace(';', '')
    name = name.strip()
    name = name .capitalize()
    return name

In [24]:
messy_names.apply(cleanup)

0    Andrew
1      Bobo
2    Claire
dtype: object