In [1]:
import numpy as np

In [3]:
import pandas as pd

In [4]:
#help(p.Series)

In [5]:
myindex = ['USA', 'Canada', 'Mexico']

In [6]:
mydata = [1776, 1867, 1821]

In [7]:
myser = pd.Series(data= mydata)

In [8]:
myser

0    1776
1    1867
2    1821
dtype: int64

In [9]:
myser[0]

np.int64(1776)

In [15]:
myser = pd.Series(index = myindex, data = mydata, )

In [16]:
myser

USA       1776
Canada    1867
Mexico    1821
dtype: int64

In [17]:
myser['Canada']

np.int64(1867)

In [20]:
ages = {'Sam' : 5, 'Frank' : 10, 'Spike' : 7}

In [21]:
ages['Sam']

5

In [22]:
pd.Series(ages)

Sam       5
Frank    10
Spike     7
dtype: int64

In [23]:
q1 = {'Japan': 80, 'China': 450, 'India': 200, 'USA': 250}
q2 = {'Brazil': 100, 'China': 500, 'India': 210, 'USA': 260}

In [24]:
sales_q1 = pd.Series(q1)
sales_q2 = pd.Series(q2)

In [25]:
sales_q1
sales_q2

Brazil    100
China     500
India     210
USA       260
dtype: int64

In [26]:
sales_q1.keys()

Index(['Japan', 'China', 'India', 'USA'], dtype='object')

In [27]:
sales_q1 * 2

Japan    160
China    900
India    400
USA      500
dtype: int64

In [28]:
sales_q1/100

Japan    0.8
China    4.5
India    2.0
USA      2.5
dtype: float64

In [29]:
sales_q1 + sales_q2

Brazil      NaN
China     950.0
India     410.0
Japan       NaN
USA       510.0
dtype: float64

In [31]:
sales_q1.add(sales_q2, fill_value=0)

Brazil    100.0
China     950.0
India     410.0
Japan      80.0
USA       510.0
dtype: float64

In [ ]:
sales_q1